.field {
  width: 100%;
  height: auto;
  max-height: calc(100vh - 56px - 4vw);
  max-width: 94vw;
  margin-left: 2vw;
  margin-top: 2vw;
  display: flex;
  align-content: center;
  justify-content: center;
}

.field svg {
  height: auto;
  width: auto;
}
