.iconContainer {
  line-height: 1px;
  display: inline-block;
}

.iconWithText {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconWithText .iconContainer {
  margin-right: 0.25rem;
}

.rotate {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
